.header {
    padding: 20px 0 30px 0;
}

.jobtitle {
    padding-left: 20px;
    margin-top: -20px;
    color: black;
}

p{
    color: black; 
}
.textData {
    font-weight: bold;
    color: black;
}

.tag {
    font-size: 12px;
}